/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #00bfa5;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
  --color-hex-default: #000000;
  --color-hex-hover: #ffffff;
  --color-html: #e34f26;
  --color-css: #1572b6;
  --color-js: #f7df1e;
  --color-ts: #3178c6;
  --color-react: #61dafb;
  --color-next: #000000;
  --color-mongo: #47a248;
  --color-github: #73398d;

  /* Background */
  --home-bg-gradient: linear-gradient(
    153deg,
    rgba(5, 10, 19, 1) 0%,
    rgba(14, 29, 55, 1) 100%
  );

  --home-bg-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23050A13' width='11' height='11'/%3E%3Crect fill='%23050b14' x='10' width='11' height='11'/%3E%3Crect fill='%23060b14' y='10' width='11' height='11'/%3E%3Crect fill='%23060b15' x='20' width='11' height='11'/%3E%3Crect fill='%23060c16' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23070c16' y='20' width='11' height='11'/%3E%3Crect fill='%23070d17' x='30' width='11' height='11'/%3E%3Crect fill='%23070d18' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23070e18' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23080e19' y='30' width='11' height='11'/%3E%3Crect fill='%23080e19' x='40' width='11' height='11'/%3E%3Crect fill='%23080f1a' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23090f1a' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%2309101b' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%2309101c' y='40' width='11' height='11'/%3E%3Crect fill='%230a101c' x='50' width='11' height='11'/%3E%3Crect fill='%230a111d' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%230a111d' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%230a111e' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%230b121e' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%230b121f' y='50' width='11' height='11'/%3E%3Crect fill='%230b1220' x='60' width='11' height='11'/%3E%3Crect fill='%230b1320' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%230b1321' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%230b1321' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%230c1422' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%230c1423' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%230c1423' x='70' width='11' height='11'/%3E%3Crect fill='%230c1524' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%230c1524' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%230c1525' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%230c1626' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%230c1626' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%230c1627' x='80' width='11' height='11'/%3E%3Crect fill='%230c1627' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%230c1728' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%230c1729' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%230d1729' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%230d182a' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%230d182a' x='90' width='11' height='11'/%3E%3Crect fill='%230d182b' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%230d182c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%230d192c' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%230d192d' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%230d192e' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%230d192e' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%230d1a2f' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%230d1a2f' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%230d1a30' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%230d1a31' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%230d1b31' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%230d1b32' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%230d1b33' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%230e1b33' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%230e1c34' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%230e1c34' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%230e1c35' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%230e1c36' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%230e1d36' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%230E1D37' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");

  /* Size */
  --size-max-width: 1200px;

  /* Change this to change the appearance of the hexaons */
  --hex-width: 100px;
  --hex-between: 10px;

  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all 0.2s ease;

  /* Divider */
  --divider-double-wave: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" > <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" ></path> <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,1d65,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" ></path> <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" ></path> </svg>');
  --divider-single-wave: url("data:image/svg+xml;utf-8,");
  --divider-arrow: url('data:image/svg+xml;utf-8,  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z" class="shape-fill"></path> </svg>');
  --divider-tilt-right: url('data:image/svg+xml;utf-8,<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path> </svg>');
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  overflow-x: hidden;
  background-color: var(--color-primary);
  background: var(--color-primary);
  background-image: var(--home-bg-svg);
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.max-container {
  max-width: var(--size-max-width);
}

.hidden {
  opacity: 0;
}

/* Header */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 이렇게 사용하면 성능에 좋지 않음 */
/* 페이지에 존재하는 모든 이미지 태그를 찾은 후 클래스이름을 찾기 때문 */
/* .header__logo img{} */

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px;
  border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

.header--dark {
  background-color: var(--color-primary);
}

.header__hamberger {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  font-size: 1.3rem;
  color: var(--color-text);
  cursor: pointer;
}

/* Home */

#home {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-text);
}

#home::after {
  content: "";
  width: calc(100% + 1.3px);
  height: 100px;
  position: absolute;
  bottom: -20px;
  left: 0;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: var(--color-white);
  mask: var(--divider-double-wave);
  -webkit-mask: var(--divider-double-wave);
}

.home__title {
  font-size: 1.5rem;
  font-weight: 100;
}

.home__title--strong {
  color: var(--color-accent);
}

.home__contact {
  display: inline-block;
  margin: 2rem;
  padding: 8px;
  border: 2px solid var(--color-accent);
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s linear;
}

.home__contact:hover {
  background-color: var(--color-accent);
  color: var(--color-black);
}

/* About */
#about {
  background: var(--color-white);
}

.motto {
  display: flex;
  gap: 8px;
  max-width: 80%;
  margin: 4rem auto;
  flex-wrap: wrap;
  cursor: default;
}

.motto__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.motto__icon__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;
  background: #000;
  margin: 4px 0px;
  color: var(--color-text);
  border-radius: 8px;
  padding-top: 1rem;
  transition: all 0.2s linear;
}

.motto__icon__wrapper:hover {
  transform: scale(1.01);
}

.motto__icon__hexagon {
  width: 100px;
  height: 58px;
  background-color: var(--color-accent);
  position: relative;
  margin: 8px auto;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.motto__icon {
  color: var(--color-text);
  font-size: 2.5rem;
}

.motto__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.motto__desc {
  width: 60%;
  margin-top: 4px;
  min-width: 150px;
  min-height: 80px;
  max-height: 70px;
  text-align: center;
}

.jobs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.job {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
  flex: 1;
  flex-wrap: wrap;
}

.job__image__box {
  width: 100px;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}

.job__image {
  width: 100%;
  height: 100%;
}

.job__name {
  color: var(--color-primary);
}

.job__period {
  color: var(--color-primary);
  font-size: 0.8rem;
}

/* Skills */
#skills {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  gap: 16px;
}

.skills__box {
  display: grid;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(
      --hex-width
    );
  grid-auto-rows: calc(var(--hex-width) - 28.87px / 2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}

.skills__item {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
  font-size: 0.5rem;
  gap: 2px;
}

.skills__item::after,
.skills__item::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}

.skills__item::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}
.skills__item::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}

.skills__item:hover {
  background-color: var(--color-hex-hover);
}

.skills__item:hover::after,
.skills__item:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
}

.skills__item:nth-child(8n + 5),
.skills__item:nth-child(8n + 6),
.skills__item:nth-child(8n + 7),
.skills__item:nth-child(8n + 8) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.skills__item > svg {
  height: 75%;
  transition: var(--hex-transition);
}

.color-html {
  background-color: var(--color-html);
}
.color-html::after,
.color-html::before {
  border-top-color: var(--color-html);
  border-bottom-color: var(--color-html);
}
.color-html:hover {
  fill: var(--color-html);
}

.color-css {
  background-color: var(--color-css);
}
.color-css::after,
.color-css::before {
  border-top-color: var(--color-css);
  border-bottom-color: var(--color-css);
}
.color-css:hover {
  fill: var(--color-css);
}

.color-js {
  background-color: var(--color-js);
}
.color-js::after,
.color-js::before {
  border-top-color: var(--color-js);
  border-bottom-color: var(--color-js);
}
.color-js:hover {
  fill: var(--color-js);
}

.color-ts {
  background-color: var(--color-ts);
}
.color-ts::after,
.color-ts::before {
  border-top-color: var(--color-ts);
  border-bottom-color: var(--color-ts);
}
.color-ts:hover {
  fill: var(--color-ts);
}

.color-react {
  background-color: var(--color-react);
}
.color-react::after,
.color-react::before {
  border-top-color: var(--color-react);
  border-bottom-color: var(--color-react);
}
.color-react:hover {
  fill: var(--color-react);
}

.color-next {
  background-color: var(--color-next);
}
.color-next::after,
.color-next::before {
  border-top-color: var(--color-next);
  border-bottom-color: var(--color-next);
}
.color-next:hover {
  fill: var(--color-next);
}

.color-mongo {
  background-color: var(--color-mongo);
}
.color-mongo::after,
.color-mongo::before {
  border-top-color: var(--color-mongo);
  border-bottom-color: var(--color-mongo);
}
.color-mongo:hover {
  fill: var(--color-mongo);
}

.color-github {
  background-color: var(--color-github);
}
.color-github::after,
.color-github::before {
  border-top-color: var(--color-github);
  border-bottom-color: var(--color-github);
}
.color-github:hover {
  fill: var(--color-github);
}

.skills__item__active {
  position: absolute;
  width: 103px;
  height: 58px;
  background-color: transparent;
  margin: 15.5px 0;
  border-left: solid 5px #fff;
  border-right: solid 5px #fff;
  bottom: -14px;
  left: calc(50% - 52px);
  display: block;
}

.skills__item__active:before,
.skills__item__active:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 66.47px;
  height: 66.47px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: transparent;
  left: 9.766px;
}

.skills__item__active:before {
  top: -37.234px;
  border-top: solid 7.0711px #fff;
  border-right: solid 7.0711px #fff;
}

.skills__item__active:after {
  bottom: -36.234px;
  border-bottom: solid 7.0711px #fff;
  border-left: solid 7.0711px #fff;
}

.skills__item__active-left {
  width: 0px;
  height: 0px;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 9px solid #fff;
  position: absolute;
  left: 28px;
  bottom: -18px;
  opacity: 0.6;
  z-index: 500;
}

.bar {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.bar__metadata {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.bar__bg {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-variant);
}

.bar__value {
  height: 5px;
  background-color: var(--color-accent);
}

/* Work */
#work {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-text);
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}

.category {
  color: var(--color-text);
  font-size: 1.1rem;
  padding: 0.5rem 2.5rem;
  border: 1px solid var(--color-accent);
  cursor: pointer;
}

.category--selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  transition: all 0.2s ease-in-out;
}

.projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(20px);
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.project__img {
  width: 100%;
}

.project__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

/* 가상의 요소 */
.project__title::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 50px;
  height: 2px;
  background-color: var(--color-accent);
}

/* Arrow up */
.arrow-up {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 1px 1px 0px 0px var(--color-accent);
  transition: all 0.5s ease-in-out;
}

/* Footer */

#contact::before {
  content: "";
  position: relative;
  width: calc(100%);
  height: 100px;
  top: 0;
  left: 0;
  overflow: hidden;
  line-height: 0;
  display: block;
  background-color: var(--color-primary);
  mask: var(--divider-arrow);
  -webkit-mask: var(--divider-arrow);
  transform: rotate(180deg);
}

#contact {
  text-align: center;
  color: var(--color-white);
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.contact__link {
  transition: color 250ms ease-in;
}

.contact__link:hover {
  color: var(--color-accent);
}

/* 0부터 768px 까지 */
@media screen and (max-width: 768px) {
  :root {
    --hex-width: 75px;
    --hex-between: 75px;
  }
  .section {
    padding: 3rem 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .header {
    flex-direction: column;
    align-items: start;
  }

  .header__nav {
    width: 100%;
  }

  .header__menu {
    width: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 1rem 4rem;
    gap: 1rem;
  }

  .header__menu__item {
    display: block;
  }

  .header__hamberger {
    display: block;
  }

  .motto {
    flex-direction: column;
    max-width: 100%;
  }

  #home {
    padding: 2rem;
  }

  .skills__box {
    grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width);
    gap: 10px;
  }

  .skills__item:nth-child(8n + 5),
  .skills__item:nth-child(8n + 6),
  .skills__item:nth-child(8n + 7),
  .skills__item:nth-child(8n + 8) {
    margin-left: 0px;
  }

  .skills__item:nth-child(8n + 4),
  .skills__item:nth-child(8n + 5),
  .skills__item:nth-child(8n + 6) {
    right: 45px;
  }

  .skills__item__active {
    width: 81px;
    height: 45px;
    left: calc(50% - 41.3px);
    margin: 13px 0;
  }

  .skills__item__active:before,
  .skills__item__active:after {
    width: 51.888px;
    height: 51.888px;
    left: 6.55px;
  }
  .skills__item__active:before {
    top: -29.888px;
  }

  .skills__item__active:after {
    bottom: -29.888px;
  }

  .categories {
    flex-direction: column;
  }

  .category {
    width: 100%;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
