/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* Size */
  --size-max-width: 1200px;

  /* Change this to change the appearance of the hexaons */
  --hex-width: 100px;
  --hex-between: 10px;

  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all 0.2s ease;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.max-container {
  max-width: var(--size-max-width);
}

.small {
  transform: scale(0.5);
}

/* Header */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 이렇게 사용하면 성능에 좋지 않음 */
/* 페이지에 존재하는 모든 이미지 태그를 찾은 후 클래스이름을 찾기 때문 */
/* .header__logo img{} */

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* Home */

#home {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-text);
  background-color: var(--color-primary);
}

.home__title {
  font-size: 1.5rem;
  font-weight: 100;
}

.home__title--strong {
  color: var(--color-accent);
}

.home__contact {
  display: inline-block;
  margin: 2rem;
  padding: 8px;
  border: 2px solid var(--color-accent);
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s linear;
}

.home__contact:hover {
  background-color: var(--color-accent);
  color: var(--color-black);
}

/* About */

.motto {
  display: flex;
  gap: 8px;
  max-width: 80%;
  margin: 4rem auto;
  flex-wrap: wrap;
  cursor: default;
}

.motto__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.motto__icon__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;
  background: #000;
  margin: 4px 0px;
  color: var(--color-text);
  border-radius: 8px;
  padding-top: 1rem;
  transition: all 0.2s linear;
}

.motto__icon__wrapper:hover {
  transform: scale(1.01);
}

.motto__icon__hexagon {
  width: 100px;
  height: 58px;
  background-color: #3498db;
  position: relative;
  margin: 8px auto;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.motto__icon {
  color: var(--color-text);
  font-size: 2.5rem;
}

.motto__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.motto__desc {
  width: 60%;
  margin-top: 4px;
  min-width: 150px;
  min-height: 80px;
  max-height: 70px;
  text-align: center;
}

.jobs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.job {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
  flex: 1;
  flex-wrap: wrap;
}

.job__image__box {
  width: 300px;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  aspect-ratio: 4 / 3;
}

.job__image {
  width: 100%;
  height: 100%;
}

.job__name {
  color: var(--color-primary);
}

.job__period {
  color: var(--color-primary);
  font-size: 0.8rem;
}

@media (max-width: 375px) {
  .motto {
    max-width: 100%;
  }
}
