/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

/* Header */
.header {
  background-color: #fd6413;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 이렇게 사용하면 성능에 좋지 않음 */
/* 페이지에 존재하는 모든 이미지 태그를 찾은 후 클래스이름을 찾기 때문 */
/* .header__logo img{} */

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* Home */

#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}

.home__title {
  font-size: 1.5rem;
  font-weight: 100;
}

.home__title--strong {
  color: var(--color-accent);
}

.home__contact {
  display: inline-block;
  margin: 2rem;
  padding: 8px;
  border: 2px solid var(--color-accent);
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s linear;
}

.home__contact:hover {
  background-color: var(--color-accent);
  color: var(--color-black);
}
